---
import Layout from "../layouts/Layout.astro";
import ToBtn from "../components/ToBtn.astro";
import GitRepo from "../components/GitRepo.astro";
import vimnotesImg from "../assets/images/vimnotes-1.png";
import {Octokit} from "octokit";
const octokit = new Octokit({auth: import.meta.env.GIT_KEY});

// const rate = await octokit.request('GET /rate_limit', {
//   headers: {
//     'X-GitHub-Api-Version': '2022-11-28'
//   }
// })
// console.log(rate)

const {data} = await octokit.request(
	"GET /user/repos?sort=pushed&per_page=4&type=public&direction=desc",
	{
		headers: {
			accept: "application/vnd.github+json",
			authorization: `Bearer ${import.meta.env.GIT_KEY}`,
		},
	},
);

const getLanguages = await Promise.all(
	data.map((repo) =>
		fetch(repo.languages_url, {
			method: "GET",
			headers: {Authorization: `Bearer ${import.meta.env.GIT_KEY}`},
		}).then((language) => language.json()),
	),
);
console.log(getLanguages)
const relevantData = data.map((repo,i) => {
	const newData = {
		id: repo.id,
		name: repo.name,
		url: repo.html_url,
		desc: repo.description,
		languageList: Object.keys(getLanguages[i]).length !== 0 ?  Object.keys(getLanguages[i])[0] : "Markdown",
	};
	return newData;
});
---

<Layout title="project">
	<section id="left">
		<div id="left-header">
			<div id="back-btn-container">
				<ToBtn link="/" />
			</div>
			<p class="text-content header-text">
				Here are some of the projects I’ve built throughout my journey of
				studying
				<span>
					{"<Software Development/>"}
				</span>
			</p>
		</div>
		<div id="featured-projects">
			<h1>Featured Projects</h1>
			<div id="carousel">
				<img alt="some-project-image" src={vimnotesImg.src} />
			</div>
		</div>
	</section>
	<section id="right">
		<div id="right-header">
			<h1>Projects im currently working on</h1>

			<div id="current-projects-container">
				{
					relevantData.map(({name, description, url, languageList}) => {
						return (
							<GitRepo
								link={url}
								title={name}
								desc={description}
								lang={languageList}
							/>
						);
					})
				}
			</div>
		</div>
		<footer id="end">
			<div id="footer-text">
				<p class="text-content footer-text">
					Making <span class="footer-highlight" id="ideas">Ideas</span> and <span
						class="footer-highlight"
						id="imaginations">Imaginations</span
					>
					 come to life, to help me and others benefit from the usefulness of my
					work.
				</p>
				<span>
					<a id="github-link" href="https://github.com/Sty6x"
						>More projects here.</a
					>
				</span>
			</div>
			<div id="to-email-page">
				<!-- <p>How to reach me.</p> -->
				<ToBtn link="/reach-me" />
			</div>
		</footer>
	</section>
</Layout>

<script></script>

<style>
	section {
		height: 100%;
		flex: 1;
	}
	#right,
	#left {
		display: flex;
		flex-direction: column;
	}

	#right {
		max-width: 46%;
		margin-left: 1.5em;
	}
	#back-btn-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		#to-project {
			transform: rotate(180deg);
		}
	}

	#left-header {
		display: flex;
		align-items: center;
		& > :not(:first-child) {
			& > span {
				color: var(--accent1);
			}
		}
	}
	.text-content {
		position: relative;
		text-align: end;
		max-width: 80%;
		font-weight: 500;
		font-size: 2.2rem;
		margin-left: auto;
	}

	#featured-projects {
		display: flex;
		flex: 1;
		flex-direction: column;
		& > :first-child {
			font-size: 2rem;
			font-weight: 600;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 5px;
				background-color: var(--lighter-shade);
			}
		}
	}
	#carousel {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1em;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		/* border: 1px solid var(--lighter-shade); */
		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			-o-object-fit: cover;
			object-position: center;
			-o-object-position: center;
			filter: blur(3px);
			transition: filter 150ms ease-in-out;
			position: relative;
		}
	}
	#carousel:hover {
		cursor: pointer;
		border-radius: 10px;
		& > img {
			transition: filter 150ms ease-in-out;
			filter: blur(0);
		}
	}

	#right-header {
		& > :first-child {
			font-weight: 500;
			font-size: 2rem;
			position: relative;
			&::after {
				display: block;
				position: absolute;
				content: "";
				width: 100%;
				height: 5px;
				background-color: var(--lighter-shade);
			}
		}
	}
	#current-projects-container {
		display: grid;
		grid-template-rows: repeat(2, minmax(200px, 1fr));
		grid-template-columns: repeat(2, 1fr);
		gap: 0.6em;
		padding: 1em 0;
	}

	footer {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	#footer-text {
		margin-bottom: auto;
		display: flex;
		flex-direction: column;
		gap: 1em;
		& > :first-child {
			margin: 0;
			text-align: start;
		}
	}
	#to-email-page {
		display: flex;
		align-items: center;
		justify-content: end;
		gap: 1em;
	}
	.footer-highlight:first-of-type {
		color: var(--accent2);
	}

	.footer-highlight:last-of-type {
		color: var(--accent3);
	}

	@keyframes github-link {
		from {
			opacity: 0;
			transform: translateY(50px);
		}
		to {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	#github-link {
		opacity: 0;
		animation: github-link forwards normal 400ms 200ms ease-in-out;
		position: absolute;
		font-weight: 500;
		font-size: 1.2rem;
	}

	@keyframes github-line {
		from {
			opacity: 0;
			left: 100%;
			height: 5px;
			width: 20%;
		}
		to {
			height: 5px;
			width: 20%;
			left: 0;
			opacity: 1;
		}
	}

	#github-link::after {
		height: 5px;
		width: 20%;
		left: 0;
		content: "";
		position: absolute;
		display: block;
		background-color: var(--accent1);
		transition: width 200ms ease-in-out;
		animation: github-line 600ms 450ms ease-in-out forwards normal;
	}
	#github-link:hover {
		&::after {
			width: 100%;
			transition: width 200ms ease-in-out;
		}
	}
	@keyframes text-cover {
		from {
			width: 100%;
			border: 0;
		}
		25% {
			border-left: 2px solid var(--accent1);
		}

		50% {
			border-left: 3px solid var(--accent1);
		}

		75% {
			border-left: 4px solid var(--accent1);
		}
		to {
			width: 5px;
			border-left: 5px solid var(--accent1);
		}
	}
	.header-text {
		margin-right: 0.5em;
	}
	.footer-text {
		margin-left: 0.5em;
	}
	.header-text::after {
		right: -2%;
		animation: text-cover 700ms 150ms ease-in-out forwards normal;
	}

	.footer-text::after,
	.header-text::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg);
		z-index: 10;
	}
	.footer-text::after {
		left: -2%;
		animation: text-cover 700ms 450ms ease-in-out forwards normal;
		transform: rotate(180deg);
	}
</style>
