---
import Layout from "../layouts/Layout.astro";
import ToBtn from "../components/ToBtn.astro";
import LinkBtn from "../components/LinkBtn.astro";

const featuredProjects = [
	{
		title: "Vimnotes",
		color: "#5C64BD",
		desc: "A Keyboard oriented markdown note taking app using vim key bindings.",
		link: "https://vimnotes.vercel.app/",
		source: "https://github.com/Sty6x/markdown-app",
	},
	{
		title: "Warframe ClI ",
		color: "#BD706F",
		desc: "A CLI Tool to fetch and display current warframe events in the terminal.",
		link: "https://www.npmjs.com/package/warframe-event-status-cli",
		source: "https://github.com/Sty6x/warframe-event-status-cli",
	},
	{
		title: "Time Tracker",
		color: "#5394BD",
		desc: "A Chrome extension that enables users to track the time they spent on a website.",
		link: "https://chrome.google.com/webstore/detail/website-tracker/khdpmjbnljkpleaeigoneokglkkgmamf",
		source: "https://github.com/Sty6x/website-time-tracker",
	},
];
---

<Layout title="project">
	<main id="projects-container">
		<div id="navigate-back-container">
			<ToBtn link="/" />
		</div>
		<div id="projects-inner-container">
			{
				featuredProjects.map((project) => {
					return (
						<div class="projects" id={project.title}>
							<div class={`${project.title}-info project-logo inactive `}>
								Logo
							</div>
							<div class="project-title">
								<h1>{project.title}</h1>
								<span
									style={{backgroundColor: project.color}}
									class="title-underline"
								/>
							</div>
							<p class={`${project.title}-desc project-desc inactive `}>
								{project.desc}
							</p>
							<div
								id={`link-to-${project.title}`}
								class={`${project.title}-link project-link inactive`}>
								<LinkBtn
									link={project.link}
									title={project.title}
									color={project.color}
								/>
							</div>
							<a href={project.source} id="source" class="link-source inactive">
								Source Code
								<span
									style={{backgroundColor: project.color}}
									class="source-underline"
								/>
							</a>
						</div>
					);
				})
			}
		</div>
	</main>
</Layout>

<script>
	import gsap from "gsap";
	const projectList = document.querySelectorAll(".projects");

	gsap.from(".projects", {
		y: -1000,
		stagger: 0.3,
		duration: 0.6,
	});

	gsap.to(".projects", {
		y: 0,
		stagger: 0.3,
		duration: 0.6,
	});
	gsap.from(".project-title", {
		y: 100,
		delay: 0.8,
		opacity: 0,
		stagger: 0.3,
		duration: 0.5,
	});

	gsap.to(".project-title", {
		y: 0,
		delay: 0.8,
		opacity: 1,
		stagger: 0.3,
		duration: 0.5,
	});

	setTimeout(() => {
		console.log("hover active");
		projectList.forEach((project) => {
			project.addEventListener("mouseenter", () => {
				const ch = Array.from(project.children).filter((c, i) => i > 1);
				gsap.from(ch, {
					y: 100,
					opacity: 0,
					stagger: 0.1,
					duration: 0.2,
				});
				gsap.to(ch, {
					y: 0,
					opacity: 1,
					stagger: 0.1,
					duration: 0.2,
				});
				gsap.fromTo(".project-logo",{duration:1, y:100},{duration:1, y:0})
				const chm = Array.from(project.children).map((c) => {
					if (c.classList.contains("inactive")) {
						c.classList.replace("inactive", "active");
						return c;
					}
					return c;
				});
			});
			project.addEventListener("mouseleave", () => {
				const ch = Array.from(project.children).filter((c, i) => i > 1);
				gsap.to(ch, {
					y: 50,
					opacity: 0,
					duration: 0.1,
				});
				const chm = Array.from(project.children).map((c) => {
					if (c.classList.contains("active")) {
						c.classList.replace("active", "inactive");
						return c;
					}
					return c;
				});
			});
		});
	}, 1200);
</script>

<style>
	#projects-container {
		transition: background-color 150ms ease-in-out;
		overflow: hidden;
		display: flex;
		flex: 1;
	}
	#projects-inner-container {
		display: flex;
		max-width: 100vw;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.projects {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-width: 30em;
		flex: 1;
		border: var(--medium-shade) 1px solid;
		border-top: 0;
		border-bottom: 0;
		transition: background-color 150ms ease-in-out;
		color: var(--text);
		padding: 0 3em;
		& > div {
			display: flex;
			flex-direction: column;
			box-sizing: content-box;
			& > h1 {
				font-size: 2.2rem;
				font-weight: 600;
			}
			& > .title-underline {
				display: inline-block;
				width: 50px;
				height: 5px;
				align-self: start;
				transition: width 150ms ease-in-out;
			}
		}
		& > p {
			text-align: center;
			font-weight: 500;
			font-size: 1.3rem;
			margin-top: 0.8em;
		}
	}
	.projects > :nth-child(2n) {
		margin-top: 2.5em;
	}
	#navigate-back-container {
		border: var(--medium-shade) 1px solid;
		border-top: 0;
		min-width: 20em;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: rotate(180deg);
	}
	body:has(.projects:hover) {
		& > main {
			transition: background-color 2000ms ease-in-out;
			background-color: var(--bg-dark);
		}
	}

	.projects:hover {
		transition: background-color 150ms ease-in-out;
		& > :not(:first-child) > span.title-underline {
			width: 100%;
			transition: width 500ms ease-in-out;
		}
		background-image: var(--gradient-iso);
		cursor: pointer;
	}
	.inactive {
		opacity: 0;
	}
	.link-source {
		position: absolute;
		bottom: 5%;
		display: flex;
		flex-direction: column;
	}
	.link-source:hover {
		& > span.source-underline {
			width: 100%;
			transition: width 150ms ease-in-out;
		}
	}
	.source-underline {
		display: inline-block;
		width: 20px;
		height: 5px;
		align-self: start;
		transition: width 150ms ease-in-out;
	}
</style>
