---
import vimnotesImg from "../assets/images/vimnotes-1.png";
import wfCLI from "../assets/images/wf-term.png";
import timeTracker from "../assets/images/timetracker-2.jpg";
const featuredList = [
	{
		title: "Warframe Event CLI",
		desc: "Fetching and displaying current warframe events within your terminal.",
		imgPath: wfCLI,
		link: "https://www.npmjs.com/package/warframe-event-status-cli",
		source: "https://github.com/Sty6x/warframe-event-status-cli",
	},
	{
		title: "Website Time Tracker",
		desc: "A Chrome extension for tracking the times you've visited and the time spent on a website",
		imgPath: timeTracker,
		link: "https://chrome.google.com/webstore/detail/website-tracker/khdpmjbnljkpleaeigoneokglkkgmamf",
		source: "https://github.com/Sty6x/website-time-tracker",
	},
];
---

<div id="featured-cards-container">
	<a id="first-card" class="cards" href="https://github.com/Sty6x/markdown-app">
		<div class="text-contents">
			<h2>Vimnotes</h2>
			<p>A Keyboard oriented approach of taking notes using vim key bindings</p>
			<ul class="source">
				<li>Source Code</li>
				<li>Visit Project</li>
			</ul>
		</div>
		<img src={vimnotesImg.src} />
	</a>
	<section id="right-cards">
		{
			featuredList.map((card) => {
				return (
					<a class="cards" href={card.link}>
						<div class="text-contents">
							<h2>{card.title}</h2>
							<p>{card.desc}</p>
							<ul class="source">
								<li>Source Code</li>
								<li>Visit Project</li>
							</ul>
						</div>
						<img src={card.imgPath.src} />
					</a>
				);
			})
		}
	</section>
</div>

<script></script>

<style>
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.5;
		filter: blur(1px);
		transition: all 200ms ease-in-out;
	}
	.text-contents {
		text-align: left;
		position: absolute;
		z-index: 20;
		width: 80%;
		left: 50%;
		bottom: 10%;
		transform: translate(-50%, -50%);
		& > h2 {
			font-size: 1.6rem;
			font-weight: 600;
		}
		& > p {
			font-size: 1.2rem;
			font-weight: 500;
		}

		.source {
			display: flex;
			gap: 1em;
			font-size: 0.8rem;
		}
		.tools {
			display: flex;
			gap: 1em;
			font-size: 0.8rem;
			& > li {
				background-color: var(--accent3);
				color: var(--bg);
				font-weight: 600;
				padding: 0.2em 0.4em;
				border-radius: 2px;
			}
		}
	}
	#featured-cards-container,
	#right-cards {
		display: flex;
		gap: 0.6em;
		position: relative;
	}
	.cards {
		overflow: hidden;
		cursor: pointer;
		position: relative;
		display: block;
		border-radius: 3px;
		z-index: 20;
	}
	.cards:hover {
		& > img {
			transform: scale(1.05);
			filter: blur(5px);
			transition: all 200ms ease-in-out;
		}
	}
	.cards::after {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		content: "";
		top: 0%;
		left: 0%;
	}
	#first-card {
		& > img {
			object-position: 0% 0%;
		}
		&::after {
			background: linear-gradient(
				var(--gradient-angle),
				transparent 20%,
				var(--accent1) var(--outer-value)
			);
		}
	}
	#featured-cards-container,
	.cards {
		width: 100%;
		height: 100%;
	}

	#right-cards {
		flex-direction: column;
		& > a .text-contents {
			top: 50% !important;
		}
		& > a:first-child::after {
			background: linear-gradient(
				var(--gradient-angle),
				transparent 20%,
				var(--accent2) var(--outer-value)
			);
		}

		& > a:last-child::after {
			background: linear-gradient(
				var(--gradient-angle),
				transparent 20%,
				var(--accent3) var(--outer-value)
			);
		}
	}
	#first-card,
	#right-cards {
		flex: 1;
	}
</style>
