---
import vimnotesImg from "../assets/images/vimnotes-1.png";
import wfCLI from "../assets/images/wf-term.png";
import timeTracker from "../assets/images/timetracker-2.jpg";

const featuredList = [
	{
		title: "Vimnotes",
		desc: "A Keyboard oriented approach for taking notes.",
		imgPath: vimnotesImg,
		link: "https://vimnotes.vercel.app/#/sign-in",
		source: "https://github.com/Sty6x/markdown-app",
		tools: ["TypeScript", "ReactJs", "Tailwind", "Firebase"],
	},
	{
		title: "Warframe Event CLI",
		desc: "Displaying current warframe events within your terminal.",
		imgPath: wfCLI,
		link: "https://www.npmjs.com/package/warframe-event-status-cli",
		source: "https://github.com/Sty6x/warframe-event-status-cli",
		tools: ["TypeScript", "Chalk", "Cli table", "Boxen"],
	},
	{
		title: "Website Time Tracker",
		desc: "A Chrome extension that tracks the time spent on a website",
		imgPath: timeTracker,
		link: "https://chrome.google.com/webstore/detail/website-tracker/khdpmjbnljkpleaeigoneokglkkgmamf",
		source: "https://github.com/Sty6x/website-time-tracker",
		tools: ["Javascript", "Chrome Extension APi"],
	},
];
---

<div id="featured-cards-container">
	<section id="cards-container">
		{
			featuredList.map((card) => {
				return (
					<a class="cards" href={card.link}>
						<div class="text-contents">
							<ul class="tools">
								{card.tools.map((tool) => {
									return <li>{tool}</li>;
								})}
							</ul>
							<div class="title-desc">
								<h2>{card.title}</h2>
								<p>{card.desc}</p>
							</div>
						</div>
						<img src={card.imgPath.src} />
					</a>
				);
			})
		}
	</section>
</div>

<script></script>

<style>
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.5;
		filter: blur(3px);
		transition: all 200ms ease-in-out;
	}
	.text-contents {
		display: flex;
		flex-direction: column;
		gap: 0.6em;
		text-align: left;
		position: absolute;
		z-index: 20;
		width: 80%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		.title-desc {
			color: var(--text);
			display: flex;
			flex-direction: column;
			gap: 0.3em;
		}
		.title-desc > h2 {
			font-size: 1.5rem;
			font-weight: 600;
		}
		.title-desc > p {
			font-size: 1rem;
			font-weight: 500;
			line-height: 20px;
		}
		.source {
			display: flex;
			gap: 1em;
			font-size: 0.8rem;
		}
		.tools {
			display: flex;
			gap: 0.4em;
			& > li {
				text-transform: uppercase;
				font-size: 0.7rem;
				color: var(--accent1);
				font-weight: 600;
				border-radius: 2px;
			}
		}
	}

	#featured-cards-container,
	#cards-container {
		flex: 1;
		position: relative;
		display: flex;
		gap: 0.6em;
		width: 100%;
		height: 100%;
	}
	.cards {
		overflow: hidden;
		cursor: pointer;
		position: relative;
		display: block;
		border-radius: 3px;
		z-index: 20;
		flex: 1;
		height: 300px;
	}
	.cards:hover {
		& > img {
			transform: scale(1.05);
			filter: blur(1px);
			transition: all 200ms ease-in-out;
		}
	}
	.cards::after {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		content: "";
		top: 0%;
		left: 0%;
	}
	#cards-container {
		& > a .text-contents {
			top: 50%;
		}
	}

	@media (max-width: 1200px) {
		.title-desc > p {
			line-height: normal;
		}
		.text-contents {
			top: 50%;
		}
	}
	@media (max-width: 1024px) {
		#right-cards > a .text-contents {
			.title-desc > h2 {
				font-size: clamp(0.4rem, 1vw + 0.6rem, 1.5rem);
			}
			.title-desc > p {
				font-size: clamp(0.8rem, 1vw + 0.3rem, 1.6rem);
			}
			.source {
				font-size: 0.5rem;
			}
			.tools {
				& > li {
					font-size: clamp(0.3rem, 1vw + 0.1rem, 0.7rem) !important;
				}
			}
		}
		#cards-container {
			flex-direction: column;
		}
		.text-contents {
			top: 50%;
		}
	}
	@media (max-width: 700px) {
		#right-cards > a .text-contents {
			.title-desc > p {
				font-size: clamp(0.5rem, 1vw + 0.2rem, 1.2rem);
			}
			.source {
				font-size: 0.8rem;
			}
		}
	}
	@media (max-width: 600px) {
		.source {
			font-size: 0.8rem;
			display: none;
		}
		#right-cards > a .text-contents {
			.title-desc > h2 {
				font-size: clamp(0.9rem, 1vw + 0.4rem, 1.6rem);
				line-height: 20px;
				/* text-align: center; */
			}
			.title-desc > p {
				font-size: clamp(0.5rem, 1vw + 0.4rem, 1.2rem);
				line-height: 14px;
				/* display: none; */
			}
			.source {
				font-size: 0.8rem;
				display: none;
			}
			.tools {
				& > li {
					/* display: none; */
					font-size: clamp(0.5rem, 0.5vw + 0.2rem, 0.8rem);
					padding: 0.4em 0.6em;
				}
			}
		}
	}
	@media (min-width: 1921px) {
		.text-contents {
			.title-desc > h2 {
				font-size: clamp(0.9rem, 1vw + 1rem, 2rem);
			}
			.title-desc > p {
				font-size: clamp(0.5rem, 1vw + 1rem, 1.4rem);
				line-height: 25px;
			}
			.source {
				font-size: 1rem;
				display: none;
			}
			.tools {
				& > li {
					/* display: none; */
					font-size: clamp(0.5rem, 0.5vw + 0.2rem, 0.8rem);
					padding: 0.4em 0.6em;
				}
			}
		}
	}
	@media (min-width: 320px) and (max-width: 500px) {
		.text-content {
			font-size: clamp(0.8rem, 1vw + 0.5rem, 1rem);
		}
	}
</style>
