---
import {Image} from "astro:assets";

const {title, paraText, linkTo, metaArr, imgPath} = Astro.props;
---

<div id="featured-item-container" class="container">
	<div class="left-contents">
		<span class="meta-data-container">
			{
				metaArr.map((text) => {
					return <span>{text}</span>;
				})
			}
		</span>
		<span class="imp-data">
			<h3>{title}</h3>
			<p>{paraText}</p>
		</span>
		<a href={linkTo}>Go to {title} <span>{">"}</span></a>
	</div>
	<div class="bg-image"></div>
	<!-- <Image class="image-container" src={imgPath} alt={`Image of ${title}`} /> -->
</div>

<script></script>

<style>
	.container {
		padding: 1.4em 3em;
		background-color: var(--darker-shade);
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		position: relative;
		backdrop-filter: blur(10px);
	}
	.container::before {
		content: "";
		position: fixed;
		display: block;
		z-index: -1;
		left: 100%;
		top: 80%;
		scale: 2;
		transform: rotateZ(10deg);
		background-image: url("../assets/images/vimnotes-1.png");
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		opacity: 0.8;
		-webkit-filter: blur(3px);
		-moz-filter: blur(3px);
		-o-filter: blur(3px);
		-ms-filter: blur(3px);
		filter: blur(3px);
		transition: all 250ms ease-in-out;
	}
	.container:hover {
		&::before {
			-webkit-filter: blur(0.5px);
			-moz-filter: blur(0.5px);
			-o-filter: blur(0.5px);
			-ms-filter: blur(0.5px);
			filter: blur(0.5px);
			transition: all 250ms ease-in-out;
			top: 0%;
			transform: rotateZ(0deg);
		}
	}
	.left-contents {
		max-width: 60%;
		min-width: 20em;
		display: flex;
		flex-direction: column;
		gap: 1.6em;
	}

	.meta-data-container {
		display: flex;
		gap: 0.4em;
		& > span {
			font-size: 0.8rem;
			font-weight: 500;
			min-width: fit-content;
			background-color: var(--bg);
			padding: 0.6em 1em;
			align-items: center;
			justify-content: center;
			border-radius: 3px;
		}
	}
	.imp-data {
		width: 100%;
		& > h3 {
			font-size: 32px;
			font-weight: 700;
			color: var(--accent2);
			margin-bottom: 0.2em;
		}

		& > p {
			max-width: 40em;
			font-size: 16px;
			line-height: 1.2rem;
		}
	}
	a {
		color: var(--accent1);
		text-decoration: underline;
	}
</style>
